<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scrape to the left...scrape to the right!</title>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  {{{ body }}}

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!-- custom JavaScript -->
  <!-- <script src="/js/app.js"></script> -->

  <!-- FOOTER -->
  <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Left-Right Board Scraper!</h5>
        <p class="grey-text text-lighten-4">A UNC-Charlotte Web Development Boot Camp Assignment</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links!</h5>
        <ul>
          <li><span>Message Boards:</span></li>
          <li><a class="grey-text text-lighten-3" href="#!">Democratic Underground</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Free Republic</a></li>
          <li><span>Do Your Research:</span></li>
          <li><a class="grey-text text-lighten-3" href="http://www.factcheck.org/">FactCheck</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Jim Gray
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
</body>
</html>